*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
.text-style-red{
    color: #E55473;
}
header{
    background-color: rgb(229, 84, 115, 0.1);
}
/* Top Feature Section */
.top-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.top-info{
    max-width: 700px;
}
.top-info-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 30px;
}
.top-info-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;

}
.featured-container, .commitments-container, .social-container, .newsletter, .reviews-container{
    max-width: 1440px;
    margin: 170px auto;
    align-items: center;
}
.featured-container h2{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.featured-container p{
    max-width: 600px;
    margin: 1px auto;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.featured-flowers{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.color-one{
    background: rgba(167, 33, 98, 0.15);
}
.color-two{
    background: rgba(5, 151, 160, 0.15);
}
.color-three{
    background: rgba(71, 125, 17, 0.15);
}
.featured-item{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.featured-image{
    border-radius: 300px 300px 0px 0px;
    padding: 100px 75px 0 75px;
    height: 515px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}
.featured-item-name{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}
/* Commitment Section */
.commitments-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 80px 150px;
    gap: 100px;
}
.commitment-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.commitment{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
/* Deals Container */
.deals-container{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 100px;
}
.deal-info{
    text-align: center;
}
.deal-info > h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.deal-info > p{
    max-width: 600px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
}
/* Social Instagram Images */
.social-container{
    text-align: center;
}
.social-container > h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.social-container > p{
    max-width: 600px;
    margin: 35px auto;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.social-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
/* Newsletter */
.newsletter{
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 150px 150px;
}
.newsletter > h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;
}
.newsletter > p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}
.newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.newsletter-form input[type=text]{
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding: 20px;
}
.newsletter-form input[type=text]::placeholder{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}
/* Footer Part */
footer{
    background: #111010;
    text-align: center;
    padding: 128px 200px;
}
footer > h2{
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
}
footer > p{
    max-width: 600px;
    margin: 30px auto;
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
}
footer > small{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}
/* Review Design */
.reviews-container{
    text-align: center;
}
.reviews-container > h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;
}
.reviews-container > p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}
.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #FFF;
}
.review-item{
    background-color: rgb(229, 84, 115, 0.1);
    border-radius: 8px;
    padding: 20px;
}
.review-item > p:first-child{
    text-align: left;
}
.fa-solid, .fa-regular{
    font-size: 20px;
    color: #E55473;
}
.review-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.reviewed-person{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.reviewed-person-image{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80px;
    border: 5px solid rgb(229, 84, 115, 0.5);
    border-radius: 50%;
    box-shadow: 1px 1px 5px 1px #111010;
}
.reviewed-person-image img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    border-radius: 50%;
    aspect-ratio: 1/1;
}